<div class="tiny ui icon buttons right">
    <div class="ui button" ng-class="{ 'active':table }"  ng-click="showAsTable()"><i class="list layout icon"></i></div>
    <div class="ui button" ng-class="{ 'active':!table }" ng-click="showAsItems()"><i class="grid layout icon"></i></div>
</div>
<div class="clear"></div>

<div ng-show="table">
    <table class="ui basic table compact">
        <thead>
            <tr>
                <th>Název</th>
                <th>Velikost</th>
                <th>Vlastník</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="folder in archive.folders">
                <td><a ui-sref="archiveIterate({folderId:folder.id})"><i class="folder outline icon"></i> <span>{{folder.name}}</span></a></td>
                <td>--</td>
                <td>{{folder.owner.username}}</td>
                <td class="actions">
                    <a class="action"><i class="blue pin icon"></i></a>
                    <a class="action" ng-click="editFolder(folder.id)" mac-modal="folder"><i class="edit icon"></i></a>
                    <a class="action" ><i class="download disk icon"></i></a>
                    <a class="action" ng-click="deleteFolder(folder.id)"><i class="trash icon"></i></a>
                </td>
            </tr>
            <tr ng-repeat="file in archive.files" attach-sidebar>
                <td><i class="file outline icon"></i><span>{{file.filename}}</span></td>
                <td>{{file.filesize}}</td>
                <td>{{file.owner.username}}</td>
                <td class="actions">
                    <a class="action" ><i class="download disk icon"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-hide="table">
    <div class="ui items">
        <div class="item" ng-repeat="folder in archive.folders">
            <i class="massive folder outline icon"></i>
            <div class="content">
                <a class="name center" ui-sref="archiveIterate({folderId:folder.id})">{{folder.name}}</a>
                <p>Vlastník: {{folder.owner.username}} </p>
                <div class="actions">
                    <a class="action"><i class="blue pin icon"></i></a>
                    <a class="action" ng-click="deleteFolder(folder.id)"><i class="trash icon"></i></a>
                </div>
            </div>
        </div>

        <div class="item" ng-repeat="file in archive.files" >
            <i class=" massive file outline icon"></i>
            <div class="content">
                <a class="name center" ui-sref="archiveIterate({folderId:folder.id})">{{file.filename}}</a>
                <p>Velikost: {{file.filesize}} </p>
                <p>Vlastník: {{file.owner.username}} </p>
                <div class="actions">
                    <a class="action"><i class="blue pin icon"></i></a>
                    <a class="action" ng-click="deleteFolder(folder.id)"><i class="trash icon"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<p ng-show="empty()" class="animate-if">
    Složka je prázdná.
</p>

<div ng-include="'./partials/file_and_folder_modals/folder_modal.html'"></div>
<div ng-include="'./partials/file_and_folder_modals/file_modal.html'"></div>

