/*******************************
            Global
*******************************/

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

/*******************************
            Global
*******************************/

/*-------------------
        Menu
--------------------*/

.ui.inverted.menu {
  background-color: #222;
  border-radius: 0rem;
}

.ui.inverted.menu .item {
font-size: 1.1rem;
}

.menu .right.menu > .mobile.item {
  display: none;
}

.ui.vertical.menu .item .menu .active.item {
  background-color: #FFFFFF;
  font-weight: bold;
}

.ui.vertical.menu .item > i.icon {
  float: left;
  margin: 0;
  margin-right: 0.5em;
}

.ui.inverted.menu .item.project {
  padding-left: 30px;
}

.ui.vertical.menu {
  width: 10rem;
}

/*-------------------
        Sidebar
--------------------*/

.ui.sidebar {
  overflow: visible;
  -webkit-transition: margin-left 0.3s ease;
  -moz-transition: margin-left 0.3s ease;
  transition: margin-left 0.3s ease;
}

.ui.right.sidebar {
  margin-top: 44px !important;
}

.ui.active.right.sidebar {
  margin-left: -271px !important;
}

/*-------------------
        Grid
--------------------*/

.grid, .grid > .row {
  height: 100%;
}

.grid > .column {
  height: 100%;
}

.ui.celled.grid, .ui.celled.grid > .column:not(.row), .ui.celled.grid > .row > .column {
   -webkit-box-shadow: none;
          box-shadow: none;
}

/*-------------------
        Dropdown
--------------------*/

.ui.menu .dropdown.item .menu {
  left: auto;
  right: 0px;
}

/*-------------------
        Labels
--------------------*/

.ui.label {
  font-size: 75%;
  text-transform: none;
  padding: .2em .6em .3em;
}

/*-------------------
        FEL Blue
--------------------*/

i.blue.icon, .ui.vertical.menu .item .menu .active.item {
  color: #0063a8 !important;
}

/*-------------------
       Inbox
--------------------*/

#feed .inbox.tab {
  background-color: #FFFFFF;
}

#feed .inbox.tab .item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#feed .inbox.tab .item .rating {
  margin-top: 0.2rem;
}

#feed .inbox.tab .item .description {
  margin-left: 2em;
}

#feed .page {
  float: right;
  margin-top: 0.9em;
}

#feed .middle.column {
  padding: 1em 2em;
}

#feed .middle.column h2 {
  margin-top: 0em;
}
/*rtl:ignore*/
#feed .right.column {
  padding: 1em 2em;
  background-color: #FAFAFA;
}

/*******************************
          Responsive
*******************************/

/* Mobile Only */

@media only screen and (max-width : 768px) {
  .ui.page.grid.segment {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  /*rtl:ignore*/
  .menu .right.menu > .item {
    display: none;
  }
  /*rtl:ignore*/
  .menu .right.menu > .mobile.item {
    display: block;
  }

  h1.ui.header {
    font-size: 1.5em;
  }

  .masthead.segment {
    background-size: auto;
  }

  .masthead.segment .information {
    margin-left: 190px;
  }

  .masthead.segment .image {
    bottom: -65px;
    width: 150px;
  }

  .masthead.segment .button {
    font-size: 1rem;
  }

  .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  .overview .divided.grid .header + p {
    min-height: 0px;
  }

  .masthead.segment .column {
    font-size: 0.7rem;
  }

  .masthead.segment .column p {
    display: none;
  }
  /*rtl:ignore*/
  .selection.list .right.floated {
    display: none;
  }
}

@media only screen and (max-width : 1000px) {

}

/*******************************
          div
*******************************/

.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}