<div class="ui breadcrumb">
    <a ui-sref="archive" class="section"><i class="archive icon"></i> </a>
    <span ng-repeat="breadcrumb in archive.breadcrumbs">
        <a ui-sref="archiveIterate({folderId:breadcrumb.id})" class="margin-right-xs">{{breadcrumb.name}}</a> / 
    </span>
    <h2 class="section">{{archive.name}}</h2>
    <a class="action" ng-click="rename()"><i class="edit icon"></i></a>
    <a class="action"><i class="blue download disk icon"></i></a>
    <a class="action" ng-click="add()"><i class="blue add sign icon"></i></a>
    <a class="action" ng-click="deleteFolder()"><i class="trash icon"></i></a>
</div>

<div ng-include="'./partials/archive_show.html'"> </div>
