                  <table class="ui basic table compact">
                        <thead>
                            <tr>
                              <th><input type="checkbox"></th>
                              <th>Název</th>
                              <th>Velikost</th>
                              <th>Vlastník</th>
                              <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="folder in archive.folders">
                                <td><input type="checkbox"></td>
                                <td> <a ui-sref="archiveIterate({folderId:folder.id})"><i class="folder outline icon"></i> <span>{{folder.name}}</span></a></td>
                                <td>--</td>
                                <td>{{folder.owner.username}}</td>
                                <td class="actions">
                                  <a href="#"><i class="blue pin icon"></i></i></a>
                                </td>
                            </tr>
                            <tr ng-repeat="file in archive.files" attach-sidebar>
                                <td><input type="checkbox"></td>
                                <td><i class="file outline icon"></i><span>{{file.filename}}<span></td>
                                <td>{{file.filesize}}</td>
                                <td>{{file.owner.username}}</td>
                                <td class="actions">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <p ng-show="empty()" class="animate-if">
                      Složka je prázdná.
                    </p>

                    <div ng-include="'./partials/subpartials/add.html'"> ... </div>
                

                    