<div class="ui breadcrumb">
                      <a class="section"><i class="home icon"></i> Můj prostor </a>
                      <i class="right arrow icon"></i>
                      <span class="section">Složka 1</span>
                      <a class="section"><i class="blue pin icon"></i></a>
                      <a class="section"><i class="blue upload disk icon"></i></a>
                      <a class="section"><i class="blue download disk icon"></i></a>
                    </div>

                    <div class="tiny ui icon buttons right">
                      <div class="ui button active"><i class="list layout icon"></i></div>
                      <div class="ui button"><i class="grid layout icon"></i></div>
                    </div>

                    <table class="ui basic table compact">
                        <thead>
                            <tr>
                              <th><input type="checkbox"></th>
                              <th>Název</th>
                              <th>Sdílím s</th>
                              <th>Velikost</th>
                              <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><i class="folder outline icon"></i> <span>Složka 3</span>
                                    <a class="item" ng-repeat="label in folder.labels" ui-sref="label/{{label.id}}"><i class="bookmark red basic icon"></i></a>
                                </td>
                                <td>Jan Novák</td>
                                <td>--</td>
                                <td class="actions">
                                  <a href="#"><i class="edit icon"></i></a>
                                  <a href="#"><i class="trash icon"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><i class="file outline icon"></i>
                                 <span>Soubor<span>
                                 <a class="item" ui-sref="archived"> <i class="archive icon"></i> </a>
                                 </td>
                                <td>Petr Novák</td>
                                <td>3 MB</td>
                                <td class="actions">
                                  <a href="#"><i class="edit icon"></i></a>
                                  <a href="#"><i class="trash icon"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                

                    <div class="ui right vertical sidebar">
                        <a href="#" class="sidebar-hide-btn" title="Close the board sidebar."> 
                            <i class="right arrow icon"></i>
                        </a>
                        přidání štítku, přidání do archivu
                      
                    </div>