<!-- lazy loading - after user logs in-->

<div class="row leftmenu">
    <!-- left navigation -->
    <div class="one wide column" style="">
        <div class="ui secondary vertical menu">
            <a class="item" ui-sref-active="active" ui-sref="index"><i class="home icon"></i>Můj prostor</a>
            <a class="item" ui-sref-active="active" ui-sref="shared"><i class="users icon"></i>Sdílené</a>
            <div class="ui divider"></div>
            <a class="item" ui-sref-active="active" ng-click="activateLabel('archive')"><i class="checkmark icon" ng-show="isActive('archive')"></i><i class="archive icon"></i>Archiv</a>
            <!-- labels -->
            <a class="item" ui-sref-active="active" ng-repeat="label in user.labels" ng-click="activateLabel(label.name)"><i class="checkmark icon" ng-show="isActive(label.name)"></i><i class="bookmark {{label.color}} basic icon"></i>{{label.name}}</a>
            <div class="divider"></div>
            <!-- fast folders -->
            <a class="item" ng-repeat="fast in user.fasts" ui-sref="{{fast.uisref}}"><i class="pin icon"></i><span ng-hide="fast.name.length > 10">{{fast.name}}</span><span ng-show="fast.name.length > 10">{{fast.name.substring(0, 9)}}...</span></a>
        </div>

        <div class="ui fixed bottom small borderless vertical menu">
            <div class="item">Využitý prostor: {{user.stats.spaceleft}}GB / {{user.quota}}GB</div>
            <a class="item blue" ui-sref="tutorials"> Nápověda </a>
        </div>
    </div>
    <!-- content -->
    <div ui-view class="ten wide column" style="">
    </div>
</div>
