<div class="ui small form">
  <div class="three fields">
    <div class="field">
      <label>Název</label>
      <input type="text">
    </div>
    <div class="field">
      <label>Barva</label>
      <input type="color">
    </div>
    <div class="field">
      <label>&nbsp;</label>
      <div class="ui small submit button">Ok</div>
    </div>
  </div>
</div>

<table class="ui basic table compact">
        <thead>
            <tr>
              <th><input type="checkbox"></th>
              <th>Štítek</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="label in labelsCtrl.labels">
                <td><input type="checkbox"></td>
                <td><i class="bookmark {{label.color}} basic icon"></i>{{label.name}}</td>
                <th class="actions">
                  <a href="#"><i class="edit icon"></i></a>
                  <a href="#"><i class="trash icon"></i></a>
                </th>
            </tr>
        </tbody>
    </table>