<p class="right"><a class="action" ng-click="addGroup()"> <i class="big blue add sign icon"></i> Přidat skupinu </a></p>

<table class="ui basic table compact">
    <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th>Název</th>
            <th>účastníci</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="group in user.groups">
            <td><input type="checkbox"></td>
            <td>{{group.name}}</td>
            <td><a class="action" ng-click="showMembers(group)">Počet členů: {{group.users.length}}</a></td>
            <td class="actions">
                <a class="action" ng-click="editGroup($index, group)"><i class="edit icon"></i></a>
                <a class="action" ng-click="deleteGroup($index)"><i class="trash icon"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<div ng-include="'./partials/modals/group_members_list.html'"></div>
<div ng-include="'./partials/modals/group_modal.html'"></div>
