<div class="ui small form">
  <div class="three fields">
    <div class="field">
      <label>Název</label>
      <input type="text">
    </div>
    <div class="field">
      <label>Barva</label>
      <input type="color">
    </div>
    <div class="field">
      <label>K</label>
      <div class="ui small submit button">Ok</div>
    </div>
  </div>
</div>

<table class="ui basic table compact">
        <thead>
            <tr>
              <th><input type="checkbox"></th>
              <th>Popis</th>
              <th>Barva</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td>Štítek 1</td>
                <td>jan.novak@fel.cvut.cz, ... </td>
                <th class="actions">
                  <a href="#"><i class="edit icon"></i></a>
                  <a href="#"><i class="trash icon"></i></a>
                </th>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>Moje skupina 2</td>
                <td>jan.novak@fel.cvut.cz, ... </td>
                <th class="actions">
                  <a href="#"><i class="edit icon"></i></a>
                  <a href="#"><i class="trash icon"></i></a>
                </th>
            </tr>
        </tbody>
    </table>