<div class="ui small form">
  <div class="three fields">
    <div class="field">
      <label>Název</label>
      <input type="text" ng-model="group.name">
    </div>
    <div class="field">
      <label>Účastníci</label>
      <div ng-repeat="user in group.users" class="ui image label">
        {{user.username}}
        <i ng-click="removeUser($index)" class="delete icon"></i>
      </div>
      <select name="user" ng-click="addUser()">
        <option ng-repeat="user in groupsCtrl.users" ng-value="{{$index}}" ng-disabled="{{isDisabled(user)}}">{{user.username}}</option>
      </select>
    </div>
    <div class="field">
      <label>&nbsp;</label>
      <div class="ui small submit button" ng-click="save(group)">Ok</div>
    </div>
  </div>
</div>

<table class="ui basic table compact">
        <thead>
            <tr>
              <th><input type="checkbox"></th>
              <th>Název</th>
              <th>účastníci</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="group in user.groups">
                <td><input type="checkbox"></td>
                <td>{{group.name}}</td>
                <td> {{group.users.join(', ')}}</td>
                <td class="actions">
                  <a ng-click="editGroup($index, group)"><i class="edit icon"></i></a>
                  <a ng-click="deleteGroup($index)"><i class="trash icon"></i></a>
                </td>
            </tr>
        </tbody>
    </table>