<p class="right"><a class="action" ng-click="addOrgunit()"> <i class="big blue add sign icon"></i> Přidat organizační jednotku </a></p>

<table class="ui basic table compact">
    <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th>Název</th>
            <th>Správce/i</th>
            <th>Velikost prostoru (GB)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="unit in unitsCtrl.units">
            <td><input type="checkbox"></td>
            <td>{{unit.name}}</td>
            <td> {{unit.admins.join(', ')}} </td>
            <td> {{unit.size}} </td>
            <td class="actions">
                <a ng-click="editUnit($index, unit)"><i class="edit icon"></i></a>
                <a ng-click="deleteUnit($index)"><i class="trash icon"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<div ng-include="'./partials/modals/orgunits_modal.html'"></div>
