<p>Externí uživatelé vrámci mé organizační jednotky.</p>

<div class="ui small form">
  <div class="two fields">
      <div class="field">
        <label>Jméno a přijmení</label>
        <input type="text">
      </div>
      <div class="field">
        <label>Organizační jednotka</label>
        <input type="email">
      </div>
  </div>
  <div class="two fields">
      <div class="field">
        <label>Email</label>
        <input type="email">
      </div>
      <div class="field">
        <label>Prostor</label>
        <input type="email">
      </div>
  </div>
  <div class="field">
    <label>Na čí doporučení</label>
    <input type="text">
  </div>
  <div class="ui small submit button">Registrovat</div>
</div>
    


<table class="ui basic table compact">
        <thead>
            <tr>
              <th><input type="checkbox"></th>
              <th>Jméno a přijmení</th>
              <th>Email</th>
              <th>Prostor</th>
              <th>Na doporučení</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td>Jan Novák </td>
                <td>jan.novak@fel.cvut.cz</td>
                <td>3GB</td>
                <td>Já</td>
                <td class="actions">
                  <a href="#"><i class="edit icon"></i></a>
                  <a href="#"><i class="trash icon"></i></a>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>Petr Novák</td>
                <td>jan.novak@fel.cvut.cz</td>
                <td>3GB</td>
                <td>Pert Novák</td>
                <td class="actions">
                  <a href="#"><i class="edit icon"></i></a>
                  <a href="#"><i class="trash icon"></i></a>
                </td>
            </tr>
        </tbody>
    </table>