<div class="ui small form">
  <div class="two fields">
    <div class="field">
      <label>Název</label>
      <input type="text">
    </div>
    <div class="field">
      <label>Velikost prostoru (GB)</label>
      <input type="number">
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Správce</label>
      <input type="text">
    </div>
    <div class="field">
      <label>&nbsp;</label>
      <div class="ui small submit button">Ok</div>
    </div>
  </div>
</div>

<table class="ui basic table compact">
        <thead>
            <tr>
              <th><input type="checkbox"></th>
              <th>Název</th>
              <th>Správce/i</th>
              <th>Velikost prostoru (GB)</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td>SEN</td>
                <td>Jan Novák, ... </td>
                <td>XXX </td>
                <td class="actions">
                  <a href="#"><i class="edit icon"></i></a>
                  <a href="#"><i class="trash icon"></i></a>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>ATG</td>
                <td>Petr Novák, ... </td>
                <td>YYY </td>
                <td class="actions">
                  <a href="#"><i class="edit icon"></i></a>
                  <a href="#"><i class="trash icon"></i></a>
                </td>
            </tr>
        </tbody>
    </table>