                <div class="ui small form">
                      <div class="field">
                        <label>Současné heslo</label>
                        <input type="password">
                      </div>
                      <div class="field">
                        <label>Nové heslo</label>
                        <input type="password">
                      </div>
                    </div>
                    <div class="ui small submit button">Ok</div>
                </div>