<!-- Tabs Go Here -->
<div class="ui tabular small menu">
  <a class="item" ng-class="{ active:tab.isSet(1) }" href ng-click="tab.setTab(1)">Štítky</a>
  <a class="item" ng-class="{ active:tab.isSet(2) }" href ng-click="tab.setTab(2)">Skupiny</a>
  <a class="item" ng-class="{ active:tab.isSet(3) }" href ng-click="tab.setTab(3)">Organizační jednotky</a>
  <a class="item" ng-class="{ active:tab.isSet(4) }" href ng-click="tab.setTab(4)">Externisté</a>
  <a class="item" ng-class="{ active:tab.isSet(5) }" href ng-click="tab.setTab(5)">Změna hesla</a>
</div>

  <!--  Labels Tab's Content  -->
  <set-labels ng-show="tab.isSet(1)" ></set-labels>

  <!--  Groups Tab's Content  -->
  <set-groups ng-show="tab.isSet(2)"></set-groups>

  <!--  Orgranization Units Tab's Content  -->
  <set-orgunits ng-show="tab.isSet(3)"></set-orgunits>

  <!--  Registration Tab's Content  -->
  <set-registartion ng-show="tab.isSet(4)"></set-registartion>

  <!--  Change password Tab's Content  -->
  <set-change-pass ng-show="tab.isSet(5)"></set-change-pass>
