<!-- Tabs Go Here -->
<div class="ui tabular small menu">
  <a class="item" ng-class="{ active:tab.isSet(1) }" href ng-click="tab.setTab(1)">Štítky</a>
  <a class="item" ng-class="{ active:tab.isSet(2) }" href ng-click="tab.setTab(2)">Skupiny</a>
  <a class="item" ng-class="{ active:tab.isSet(5) }" href ng-click="tab.setTab(5)" ng-show="user.permissions.password">Změna hesla</a>
</div>

  <!--  Labels Tab's Content  -->
  <set-labels ng-show="tab.isSet(1)" ></set-labels>

  <!--  Groups Tab's Content  -->
  <set-groups ng-show="tab.isSet(2)"></set-groups>

  <!--  Change password Tab's Content  -->
  <set-change-pass ng-show="tab.isSet(5)"></set-change-pass>
