<div class="ui breadcrumb">
    <i class="users icon"></i>
    <h2 class="section"> Sdílené </h2>
    <a class="section"><i class="blue pin icon"></i></a>
    <a class="section"><i class="blue upload disk icon"></i></a>
    <a class="section"><i class="blue download disk icon"></i></a>
</div>

<div class="tiny ui icon buttons right">
    <div class="ui button" ng-class="{ 'active':table }"  ng-click="showAsTable()"><i class="list layout icon"></i></div>
    <div class="ui button" ng-class="{ 'active':!table }" ng-click="showAsItems()"><i class="grid layout icon"></i></div>
</div>
<div class="clear"></div>

<div ng-show="table">
    <table class="ui basic table compact">
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>Název</th>
                <th>Velikost</th>
                <th>Vlastník</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td><a href=""><i class="folder outline icon"></i> <span>Složka 3</span></a>
                    <a href=""><i class="bookmark red basic icon"></i></a>
                </td>
                <td>--</td>
                <td>Petr Novák</td>
                <td class="actions">
                    <a href="#"><i class="blue pin icon"></i></a>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td><i class="file outline icon"></i>
                    <span>Soubor</span></td>
                <td>3MB</td>
                <td>Jan Novák</td>
                <td class="actions">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-hide="table">
    <div class="ui items">

    </div>
</div>
<div class="ui right vertical sidebar">
    <a href="#" class="sidebar-hide-btn" title="Close the board sidebar."> 
        <i class="right arrow icon"></i>
    </a>
    <div class="ui small form">
        <div class="field">
            <label>Přidat štítek</label>
            <input type="select">
        </div>

        <div class="field">
            <div class="ui small submit button">Ok</div>
        </div>
    </div>
</div>
