<!DOCTYPE html>
<html lang="cz" ng-app="app.module" ng-controller="MainController as mainCtrl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="author" content="Kateřina Hašlarová, Jiří Blažek">
        <title ng-bind="user.username + ' - Integrační portál'">Integrační portál</title>
        <link href="./css/semantic.css" ng-href="./css/semantic.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="favicon.ico" >
        <link href="./css/portal.css" ng-href="./css/portal.css" rel="stylesheet" type="text/css">
        <link href="./css/macgyver.css" ng-href="./css/macgyver.css" rel="stylesheet" type="text/css">
        <base href="/integracni-portal-ui/"/>
    </head>

    <body>
        <!-- top navigation -->
        <div class="ui fixed inverted pointing menu" ng-show="loggedIn">
            <a class="item project" ui-sref="index">Integrační portál</a>
            <div class="menu right">
                <div class="ui top right pointing mobile dropdown link item">
                    <i class="reorder icon"></i>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item">{{user.username}}</div>
                        <div class="item">Využitý prostor: {{user.stats.spaceleft}}GB / {{user.quota}}GB</div>
                        <a class="item" ui-sref="admin">Admin</a>
                        <a class="item" ui-sref="settings">Osobní astavení</a>
                        <a class="item" ui-sref="tutorials">Nápověda</a>
                        <a id="lgout" class="item" ng-click="logout()"> <i class="icon sign out"></i>Odhlásit</a>
                    </div>
                </div>

                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Filter..." ng-model='search'>
                        <i class="search icon"></i>
                    </div>
                </div>
                <a ui-sref="admin" class="item" ng-show="user.permissions.externists || user.permissions.units"><i class="setting icon"></i></a>
                <a ui-sref="settings" class="item"> <i class="settings icon"></i></a>
                <div class="ui dropdown link item" href="#">
                    {{user.username}} <i class="dropdown icon"></i>
                    <div class="menu ui transition hidden">
                        <div class="item">Využití Prostor: {{user.stats.spaceleft}}GB / {{user.quota}}GB</div>
                        <a class="item" ui-sref="tutorials"> Nápověda </a>
                        <a class="item" ng-click="logout()"> <i class="icon sign out"></i> Odhlásit </a>
                    </div>
                </div>
                <a ng-click="logout()" class="item"> <i class="icon sign out"></i></a>
            </div>
        </div>

        <div class="ui celled grid" ng-include="'./partials/main.html'" ng-if="loggedIn"></div>
        <div ng-include="'./partials/login/login_modal.html'"></div>

        <script type="text/javascript" src="./libs/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="./libs/angular.min.js"></script>
        <script type="text/javascript" src="./libs/semantic.js"></script>
        <script type="text/javascript" src="./libs/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="./libs/macgyver.js"></script>
        <script type="text/javascript" src="./libs/FileSaver.js"></script>
        <script type="text/javascript" src="./libs/checklist-model.js"></script>
        <script type="text/javascript" src="./js/app.module.js"></script>
        <script type="text/javascript" src="./js/app.controllers.js"></script>
        <script type="text/javascript" src="./js/services.module.js"></script>
        <script type="text/javascript" src="./js/utils.module.js"></script>
        <script type='text/javascript' src='./js/shared/shared.module.js'></script>
        <script type="text/javascript" src='./js/home/home.module.js'></script>
        <script type="text/javascript" src="./js/externists/externists.module.js"></script>
        <script type="text/javascript" src="./js/groups/groups.module.js"></script>
        <script type="text/javascript" src="./js/labels/labels.module.js"></script>
        <script type="text/javascript" src="./js/login/login.module.js"></script>
        <script type="text/javascript" src="./js/orgunits/orgunits.module.js"></script>
        <script type="text/javascript" src="./js/password/password.module.js"></script>
        <script type="text/javascript" src="./js/settings/settings.module.js"></script>
        <script type="text/javascript" src="./js/portal.js"></script>
    </body>
</html>
