<!DOCTYPE html>
<html lang="cz" ng-app="app" ng-controller="MainController as mainCtrl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <title ng-bind="$state.current.name + ' - Integrační portál'">Integrační portál</title>

        <link href="./css/semantic.css" ng-href="./css/semantic.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="favicon.ico" >
        <link href="./css/portal.css" ng-href="./css/portal.css" rel="stylesheet" type="text/css">
        <base href="/integracni-portal-ui/"/>
    </head>
    
    <body >
        <!-- top navigation -->
        <div class="ui fixed inverted pointing menu">
            <a class="item project" ui-sref="index">Integrační portál</a>
            <div class="menu right">
                <div class="ui top right pointing mobile dropdown link item">
                    <i class="reorder icon"></i>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <a class="item" ui-sref="settings">Nastavení</a>
                      <a class="item" ui-sref="tutorials">Tutoriály</a>
                      <a class="item" ui-sref="logout">Odhlásit</a>
                    </div>
                </div>
                
                <div class="ui dropdown link item" href="#">
                    {{user.username}} <i class="dropdown icon"></i>
                    <div class="menu ui transition hidden">
                        <div class="item">Využití: 1,76GB (12%) z 13GB</div>
                        <a class="item" ui-sref="tutorials"> Tutoriály </a>
                        <a class="item" ui-sref="logout"> Odhlásit </a>
                    </div>
                </div>
                <a ui-sref="settings" class="item"> <i class="settings icon"></i></a>
                <a ng-click="logout()" class="item"> <i class="icon sign out"></i></a>
                <div class="item">
                  <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                  </div>
                </div>
            </div>
        </div>

        <div class="ui celled grid">
            <div class="row leftmenu">
                <!-- left navigation -->
                <div class="one wide column" style="">
                    <div class="ui secondary vertical menu" ng-controller="NavigationController as navigation">
                        <div class="item"> <i class="home icon"></i> Můj prostor
                            <div class="menu">
                              <a class="blue item" > <i class="folder icon"></i> Složka 1</a>
                              <a class="item" > <i class="folder icon"></i> Složka 2</a>
                            </div>
                        </div>
                        <a class="item" ui-sref-active="active" ui-sref="shared"> <i class="users icon"></i> Sdílené </a>
                        <a class="item" ui-sref-active="active" ui-sref="archived"> <i class="archive icon"></i> Archív </a>
                        <!-- labels -->
                        <a class="item" ng-repeat="label in user.labels" ui-sref="label/{{label.id}}"><i class="bookmark {{label.color}} basic icon"></i>{{label.name}}</a>
                        <div class="divider"></div>
                        <!-- fast folders -->
                        <a class="item" ng-repeat="fast in navigation.fastFolders" ui-sref="fast.url"> {{fast.name}} </a>
                        
                    </div>
                </div>
                <!-- content -->
                <div ui-view class="ten wide column" style="" ng-controller="ViewController as viewCtrl" >
                    
                </div>
            </div>
        </div>

        <div class="ui right vertical sidebar">
          <div ng-if="sidebarShow">
              <div custom-sidebar="{{mySidebar}}"></div>
          </div>
          
        </div>


        <script type="text/javascript" src="./js/jquery-2.1.1.js"></script>
        <script type="text/javascript" src="./js/angular.js"></script>
        <script type="text/javascript" src="./js/semantic.js"></script>
        <script type="text/javascript" src="./js/angular-ui-router.js"></script>
        <script type="text/javascript" src="./js/app.js"></script>
        <script type="text/javascript" src="./js/portal.js"></script>
         <script type="text/javascript" src="./js/data.js"></script>
        
        <!--<script type="text/javascript" src="./js/mustache.js"></script>-->
    </body>
</html>