<ul class="nav nav-pills">
	<li role="presentation">
		<a href ng-click="vm.createGroup()"><i class="glyphicon glyphicon-plus"></i> Přidat</a>
	</li>
	<li role="presentation">
		<a href ng-click="vm.renameGroup()" ng-if="vm.selectedGroups.length == 1"><i class="glyphicon glyphicon-pencil"></i> Přejmenovat</a>
	</li>
	<li role="presentation">
		<a href ng-click="vm.editGroup()" ng-if="vm.selectedGroups.length == 1"><i class="glyphicon glyphicon-user"></i> Spravovat členy</a>
	</li>
	<li role="presentation">
		<a href ng-click="vm.deleteGroups()" ng-if="vm.selectedGroups.length > 0"><i class="glyphicon glyphicon-trash"></i> Smazat</a>
	</li>
</ul>

<table class="table" data-multiple-selection-zone data-model="vm.selectedGroups">
    <thead>
        <tr>
            <th>Název</th>
            <th>Členové</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="group in vm.groups" data-multiple-selection-item data-value="group" ng-class="{selected: isSelected, selecting: isSelecting}">
            <td>{{group.name}}</td>
            <td>
				<span ng-if="group.members.length == 0">Bez členů</span>
				<span ng-if="group.members.length > 0" ng-repeat="member in group.members | limitTo: 3">
					{{member.username}}{{ $last ? '' : ',' }}
				</span>
				<span ng-if="group.members.length > 3">(a další {{group.members.length - 3}})</span>
			</td>
        </tr>
    </tbody>
</table>

