<mac-modal id="orgunit">
    <div class="mac-modal-content">
        <h1>Přidat organizační jednotku</h1>
        <form class="ui small form">
            <div class="two fields">
                <div class="field">
                    <label>Název</label>
                    <input type="text" ng-model="unit.name" required>
                </div>
                <br\>
                <div class="field">
                    <label>Velikost prostoru (GB)</label>
                    <input type="number" ng-model="unit.size" required>
                </div>
                <br\>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Správce</label>
                    <mac-autocomplete mac-autocomplete-source="users" mac-autocomplete-label="email" mac-placeholder='"e-mail uživatele"' ng-model="unit.admin"></mac-autocomplete>
                </div>
                <br\>
                <div class="field">
                    <label>&nbsp;</label>
                    <input type="submit" value="Uložit" mac-modal-close class="ui small submit button" ng-click="saveUnit(unit)"\>
                </div>
            </div>
        </form>
    </div>
</mac-modal>
