<p class="right"><a class="action" mac-modal="orgunit"> <i class="big blue add sign icon"></i> Přidat organizační jednotku </a></p>

<table class="ui basic table compact">
    <thead>
        <tr>
            <th>Název</th>
            <th>Správce</th>
            <th>Velikost prostoru (GB)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="unit in user.units">
            <td>{{unit.name}}</td>
            <td>{{unit.admins}}</td>
            <td>{{unit.quota}}</td>
            <td class="actions">
                <a class="action" ng-click="editUnit($index, unit)" mac-modal="orgunit"><i class="edit icon"></i></a>
                <a class="action" ng-click="deleteUnit($index)"><i class="trash icon"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<div ng-include="'./partials/orgunits/orgunits_modal.html'"></div>
