<mac-modal id="login" ng-controller="loginCtrl">
    <div class="mac-modal-content">
        <h1 class="center aligned ui header">Integrační portál FEL</h1>
        <form name="form" class="ui small form" ng-submit="submitLogin(username, password)">
            <h2>Přihlásit jako</h2>
            <div class="field">
                <label>Username</label>
                <input name="username" type="text" ng-model="username" placeholder="username" required/>
                <div ng-show="form.username.$touched">
                    <span ng-show="form.username.$error.required"><i class="warning icon"></i>Vyplňte uživatelské jméno.</span>
                </div>
            </div>
            <div class="field">
                <label>Password</label>
                <input name="password" type="password" ng-model="password"  placeholder="password" required />
                <div ng-show="form.password.$touched">
                    <span ng-show="form.password.$error.required"><i class="warning icon"></i>Vyplňte heslo.</span>
                </div>
            </div>
            <center>
                <input ng-disabled="form.$invalid" type="submit" value="Přihlásit" mac-modal-close ng-click="form.$setUntouched()" class="ui button"\>
            </center>
            <br/>
            <center>
                <a class="ui button" href="#">Přihlásit přes FELid</a>
            </center>
            <div class="field">
                <center>
                    <a href="#">Zapomenuté heslo?</a>
                </center>
            </div>
        </form>
    </div>
</mac-modal>
