<ul class="nav nav-pills">
    <form name="changePassForm" ng-submit="changePassword(oldPsw, newPsw1, newPsw2)" autocomplete="off" class="col-sm-4">

        <!-- Workaround. Chrome doplnuje hesla na prvnim inputu ikdyz je autocomplete off -->
        <input style="display:none" type="password"/>


        <div class="form-group">
            <label for="oldPsw">Staré heslo</label>
            <div class="row">
                <input id="oldPsw" class="form-control" name="oldPsw" type="password" ng-model="oldPsw"
                       autocomplete="off" required/>
                <span class="errorMsg">{{oldPswError}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="newPsw1">Nové heslo</label>
            <div class="row">
                <input id="newPsw1" class="form-control" name="newPsw1" type="password" ng-model="newPsw1"
                       autocomplete="off" required/>
                <span class="errorMsg">{{newPswError}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="newPsw2">Nové heslo znovu</label>
            <div class="row">
                <input id="newPsw2" class="form-control" name="newPsw2" ng-change="checkPass2()" type="password"
                       ng-model="newPsw2" autocomplete="off" required/>
                <span class="errorMsg">{{newPsw2Error}}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <input id="pswChangeSubmit" ng-disabled="(!checkPass2() || form.$invalid || newPsw2.$pristine)"
                       type="submit" value="Změnit" ng-click="form.$setUntouched()" class="btn btn-primary"/>

                <span class="formMessage col-sm-offset-1">{{message}}</span>
            </div>
        </div>

    </form>
</ul>