<div id="addfile" class="ui modal">
    <i class="close icon"></i>

    <div class="header">
        Nahrát soubor
    </div>
    <div class="content">
        <form class="ui small form">

            <div class="field">
                <label>Pojmenovat jako</label>
                <input type="text" ng-model="newfile.name">
            </div>
            <div class="field">
                <label>Vyberte soubor</label>
                <input type="file" ng-model="newfile.filename">
            </div>
            <div ng-click="uploadFile(newfile)" class="ui button">
                Nahrát soubor
            </div>
        </form>
    </div>
</div>
