<div id="externist" class="ui modal">
    <i class="close icon"></i>

    <div class="header">
        Registrace externisty
    </div>
    <div class="content">
        <form class="ui small form">
            <div class="field">
                <label>Jméno externisty</label>
                <input type="text" ng-model="externist.username">
            </div>
            <div ng-click="saveExternists(externist)" class="ui button">
                Registrovat externistu
            </div>
        </form>
    </div>
</div>
