<mac-modal id="externist">
    <div class="mac-modal-content">
        <h1>Registrace externisty</h1>
        <form class="ui small form">
            <div class="two fields">
                <div class="field">
                    <label>Uživatelské jméno externisty</label>
                    <input type="text" ng-model="externist.username">
                </div>
                <br\>
                <div class="field">
                    <label>Na doporučení</label>
                    <mac-autocomplete mac-autocomplete-source="users" mac-autocomplete-label="email" mac-placeholder='"email uživatele"' ng-model="externist.onuser"></mac-autocomplete>
                </div>
                <br\>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Email</label>
                    <input type="email" ng-model="externist.email">
                </div>
                <br\>
                <div class="field">
                    <label>Prostor (GB)</label>
                    <input type="number" ng-model="externist.size">
                </div>
                <br\>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Organizační jednotka</label>
                    <mac-autocomplete mac-autocomplete-source="units" mac-autocomplete-label="name" mac-placeholder='"org. jednotka"' ng-model="externist.orgunit"></mac-autocomplete>
                </div>
                <br\>
                <input mac-modal-close value="Registrovat externistu" ng-click="saveExternists(externist)" class="ui button">
            </div>
        </form>
    </div>
</mac-modal>
