<mac-modal id="folder">
    <div class="mac-modal-content">
        <h1>Přidání složky</h1>
        <form class="ui small form">
            <div class="field">
                <label>Název složky</label>
                <input type="text" ng-model="folder.name" ng-required="true" ng-minlength="1" ng-pattern='^[a-zA-Zа-яА-Я0-9_!]+$'>
            </div>
            <input type="submit" value="Vytvořit složku" mac-modal-close ng-click="createFolder(folder)" class="ui button"\>
        </form>
    </div>
</mac-modal>
