<mac-modal id="group">
    <div class="mac-modal-content">
        <h1>Přidat skupinu</h1>
        <form class="ui small form">
            <div>
                <div>
                    <label>Název skupiny</label>
                    <input type="text" ng-model="group.name">
                </div>
                <br\>
                <div>
                    <label>Přidat člena</label>
                    <mac-autocomplete mac-autocomplete-source="users" mac-autocomplete-label="email" mac-placeholder='"e-mail uživatele"' ng-model="group.member"></mac-autocomplete>
                </div>
                <br\>
            </div>
            <input type="submit" value="Vytvořit skupinu" mac-modal-close ng-click="saveGroup(group)" class="ui button"\>
        </form>
    </div>
</mac-modal>
