<div id="orgunit" class="ui modal">
    <i class="close icon"></i>

    <div class="header">
        Organizační jednotka
    </div>
    <div class="content">
        <form class="ui big form">
            <div class="two fields">
                <div class="field">
                    <label>Název</label>
                    <input type="text" ng-model="unit.name" required>
                </div>
                <div class="field">
                    <label>Velikost prostoru (GB)</label>
                    <input type="number" ng-model="unit.size" required>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Správce</label>
                    <select ng-model="unit.admin" ng-options="user.email as user.email for user in users"></select>
                </div>
                <div class="field">
                    <label>&nbsp;</label>
                    <div class="ui small submit button" ng-click="saveUnit(unit)">Uložit</div>
                </div>
            </div>
        </form>
    </div>
</div>
