                    <div id="add" class="ui modal">
                      <i class="close icon"></i>
                      <div class="header">
                        Přidání složky
                      </div>
                      <div class="content">
                        <form class="ui small form">
                          <div class="field">
                            <label>Název složky</label>
                            <input type="text" ng-model="folder.name">
                          </div>
                          <div ng-click="createFolder(folder)" class="ui button">
                            Vytvořit složku
                          </div>
                        </form>
                      </div>

                      <div class="header">
                        Nahrát soubor
                      </div>
                      <div class="content">
                        <form class="ui small form">
                          <div class="field">
                            <label>Vyberte soubor</label>
                            <input type="file" ng-model="file.file" ng-click="setName(file)">
                          </div>
                          <div class="field">
                            <label>Pojmenovat jako</label>
                            <input type="text" ng-model="file.name">
                          </div>
                          <div ng-click="uploadFile(file)" class="ui button">
                            Nahrát soubor
                          </div>
                        </form>
                      </div>
                    </div>
                    