<div class="ui breadcrumb">
    <i class="home icon"></i>
    <h2 class="section"> Můj prostor </h2>
    <a class="section" mac-modal="folder"><i class="blue add sign icon"></i></a>
    <a class="section" ng-click="downloadFolder(home.id)"><i class="blue download disk icon"></i></a>
    <a class="section" mac-modal="file" ng-click="setUpload()"><i class="blue upload disk icon"></i></a>
</div>

<div class="tiny ui icon buttons right">
    <div class="ui button" ng-class="{ 'active':table }"  ng-click="showAsTable()"><i class="list layout icon"></i></div>
    <div class="ui button" ng-class="{ 'active':!table }" ng-click="showAsItems()"><i class="grid layout icon"></i></div>
</div>

<div ng-include="'./partials/home/home_show.html'"></div>
