<div class="tiny ui icon buttons right">
    <div class="ui button" ng-class="{ 'active':table }"  ng-click="showAsTable()"><i class="list layout icon"></i></div>
    <div class="ui button" ng-class="{ 'active':!table }" ng-click="showAsItems()"><i class="grid layout icon"></i></div>
</div>
<div class="clear"></div>

<div ng-show="table">
    <table class="ui basic table compact">
        <thead>
            <tr>
                <th>Název</th>
                <th>Sdílím s</th>
                <th>Velikost</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="folder in home.folders">
                <td><a ui-sref="homeIterate({folderId:folder.id})"><i class="folder outline icon"></i> <span>{{folder.name}}</span></a>
                    <a class="item" ng-repeat="label in folder.labels" ui-sref="labels({labelId:label.id})"><i class="bookmark red basic icon"></i></a>
                </td>
                <td>-</td>
                <td>--</td>
                <td class="actions">
                    <a class="action" ng-click="favoriteFolder(folder)"><i class="blue pin icon"></i></a>
                    <a class="action" mac-modal="folder" ng-click="editFolder(folder.id)"><i class="edit icon"></i></a>
                    <a class="action" ng-click="downloadFolder(folder.id)"><i class="download disk icon"></i></a>
                    <a class="action" ng-click="deleteFolder(folder)"><i class="trash icon"></i></a>
                </td>
            </tr>
            <tr ng-repeat="file in home.files" attach-sidebar>
                <td><i class="file outline icon"></i>
                    <span>{{file.filename}}</span>
                </td>
                <td>-</td>
                <td>{{file.filesize}} MB</td>
                <td class="actions">
                    <a class="action" ng-click="downloadFile(file.id)"><i class="download disk icon"></i></a>
                    <a class="action" ng-click="deleteFile(file)"><i class="trash icon"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-hide="table">
    <div class="ui-items">

    </div>
</div>
<div class="ui right vertical sidebar">
    <a href="#" class="sidebar-hide-btn" title="Close the board sidebar."> 
        <i class="right arrow icon"></i>
    </a>
    přidání štítku, přidání do archivu
</div>
<p ng-show="empty()" class="animate-if">
    Složka je prázdná.
</p>

<div ng-include="'./partials/file_and_folder_modals/folder_modal.html'"></div>
<div ng-include="'./partials/file_and_folder_modals/file_modal.html'"></div>

