<p>Externí uživatelé v rámci organizační jednotky, které jste členem.</p>

<p class="right"><a class="action" mac-modal="externist"> <i class="big blue add sign icon"></i> Registrovat externistu </a></p>

<table class="ui basic table compact">
    <thead>
        <tr>
            <th>Uživatelské jméno</th>
            <th>Email</th>
            <th>Prostor</th>
            <th>Org. jednotka</th>
            <th>Na doporučení</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="external in externists">
            <td>{{external.username}} </td>
            <td>{{external.email}}</td>
            <td>{{external.quota}}</td>
            <td>{{external.orgunit}}</td>
            <td>{{external.onuser}}</td>
            <td class="actions">
                <a class="action" ng-click="editUser($index, external)" mac-modal="externist"><i class="edit icon"></i></a>
                <a class="action" ng-click="deleteUser($index)"><i class="trash icon"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<div ng-include="'./partials/externists/externist_modal.html'"></div>
