<mac-modal id="edit" mac-modal-before-show="clear()" mac-modal-after-hide="clear()">
    <div class="mac-modal-content">
        <form name="form" class="ui small form" ng-submit="saveFile(file)"> 
            <h1>Upravit soubor</h1>
            <div class="field">
                <input type="text" name="name" required ng-pattern='/^[a-zA-Zа-яА-Я0-9_!]+$/' value="{{file.filename}}" ng-model="file.filename"/>
                <div ng-show="form.name.$touched">
                    <span ng-show="form.name.$error.required"><i class="warning icon"></i>Vyplňte název souboru.</span>
                    <span ng-show="form.name.$error.pattern"><i class="warning icon"></i>Název souboru obsahuje nepovolené znaky.</span>
                </div>
            </div>
            <div class="field">
                <h3>Stav</h3>
                <label><input type="radio" ng-model="file.state" value="online"/>Online</label>
                <label><input type="radio" ng-model="file.state" value="offline"/>Offline</label>
            </div>
            <div class="field">
                <h3>Štítky</h3>
                <table>
                    <tr ng-repeat="label in user.labels">
                        <td><input name="{{label.name}}" value="{{label.name}}" type="checkbox" checklist-model="file.labels" checklist-value="label"/></td><td>{{label.name}}</td><td><i class="bookmark {{label.color}} basic icon"></i></td>
                    </tr>
                </table>
            </div>
            <input ng-disabled="form.$invalid" class="ui button" type="submit" value="Nahrát soubory"/>
        </form>
    </div>
</mac-modal>
