<mac-modal id="upload" mac-modal-before-show="clear()" mac-modal-after-hide="clear()" mac-modal-after-show="setUpload()">
    <div class="mac-modal-content">
        <form name="form" class="ui small form" ng-submit="upload()">
            <h1>Nahrát soubor</h1>
            <div class="field">
                <h3>Vyberte soubor</h3>
                <input id="file" name="file" type="file" />
            </div>
            <input class="ui button" mac-close type="submit" value="Nahrát soubor"/>
        </form>
    </div>
</mac-modal>
