<mac-modal id="share" mac-modal-after-show="setSharedWith()" mac-modal-after-hide="clear()">
    <div class="mac-modal-content">
        <form name="form" class="ui small form" ng-submit="addSharer(sharer)"> 
            <h1>{{folder.name}}</h1>
            <h4>Sdíleno s uživateli</h4>
            <mac-autocomplete autocomplete="off" name="member" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" mac-autocomplete-source="users" mac-autocomplete-label="email" mac-placeholder='"e-mail uživatele"' ng-model="sharer.id" required></mac-autocomplete>
            <br/>
            <div id="errormsg" ng-show="form.member.$touched">
                <span ng-show="form.member.$error.required"><i class="warning icon"></i>Vyplňte email uživatele.</span>
                <span ng-show="form.member.$error.pattern"><i class="warning icon"></i>Vyplňte validní email uživatele.</span>
            </div>
            <input ng-disabled="form.$invalid" type="submit" ng-click="form.$setUntouched()" value="Sdílet" class="ui button"/>
            <br/>
            <table class="ui basic table compact">
                <tbody>
                    <tr ng-repeat="sharer in shareWith">
                        <td>{{sharer}}</td>
                        <td class="actions">
                            <a class="action" ng-click="deleteSharer(sharer)"><i class="trash icon"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
        </form>
    </div>
</mac-modal>
