<mac-modal id="share" mac-modal-before-show="setSharedWith()" mac-modal-after-hide="clear()">
    <div class="mac-modal-content">
        <form name="form" class="ui small form" ng-submit="addSharer(sharer)"> 
            <h1>{{folder.name}}</h1>
            <h4>Sdílet s</h4>
            <mac-autocomplete autocomplete="off" name="sharer" ng-pattern='/^[a-zA-Zа-яА-Я0-9_!áčďéěíňóřšťůúýž +]+$/' mac-autocomplete-source="sharers" mac-placeholder='"Uživatel nebo skupina"' ng-model="sharer.name" required></mac-autocomplete>
            <br/>
            <div id="errormsg" ng-show="form.sharer.$touched">
                <span ng-show="form.sharer.$error.required"><i class="warning icon"></i>Vyplňte jméno uživatele nebo název skupiny.</span>
                <span ng-show="form.sharer.$error.pattern"><i class="warning icon"></i>Vyplňte validní email uživatele.</span>
            </div>
            <br/>
            
            <table>
                <thead><tr><td>Oprávnění</h4</td></tr></thead>
                <tr><td><input name="read" value="Read" type="checkbox" checklist-model="sharer.permissions" checklist-value="'r'"/><label for="read">Read</label></td></tr>
                <tr><td><input name="write" value="Write" type="checkbox" checklist-model="sharer.permissions" checklist-value="'w'"/><label for="write">Write</label></td></tr>
                <tr><td><input name="execute" value="Execute" type="checkbox" checklist-model="sharer.permissions" checklist-value="'x'"/><label for="execute">Execute</label></td></tr>
            </table>
            <input ng-disabled="form.$invalid" type="submit" ng-click="form.$setUntouched()" value="Sdílet" class="ui button"/>
            <br/>
            <div class="divider"></div>
            <h4>Sdíleno s</h4>
            <table class="ui basic table compact">
                <div ng-show="shareWith.length === 0">Tento soubor s nikým nesdílíte.</div>
                <tbody>
                    <tr ng-repeat="sharer in shareWith">
                        <td>{{sharer.name}}</td>
                        <td>{{sharer.permissions.join("");}}</td>
                        <td class="actions">
                            <a class="action" ng-click="deleteSharer(sharer)"><i class="trash icon"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
        </form>
    </div>
</mac-modal>
